/* base css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
.overall_base {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

aside {
  background-color: #0e1b6b;
  color: white;
}
aside img {
  width: 80%;
  padding: 24px;
}

.items {
  margin: 12px;
}
.overall {
  display: flex;
  gap: 12px;
}

.overall_icon {
  display: flex;
  gap: 5px;
}

.overall_items {
  padding-left: 32px;
}
.overall_items a {
  text-decoration: none;
  color: white;
}
.overall_items ul {
  list-style: none;
}
.overall_items li {
  padding: 5px;
}
.control_link {
  background-color: #4256d0;
  border-radius: 8px;
}

.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  color: gray;
}
.folder_icon {
  display: flex;
  gap: 5px;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  color: gray;
}
.project_icon {
  display: flex;
  gap: 5px;
}
.technical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  color: gray;
  font-size: 12px;
}
.technical_icon {
  display: flex;
  gap: 5px;
}
.protection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  color: gray;
}
.protection_icon {
  display: flex;
  gap: 5px;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 30vh;
}

.profile img {
  width: 85px;
  height: 85px;
}
.name {
  padding-right: 8px;
  font-size: 12px;
}
.rigth-nav {
  display: flex;
  line-height: normal;
}
.color-p {
  color: rgba(70, 88, 172, 1);
}
.control {
  padding-left: 44px;
}
.container-p {
  font-size: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.list-control {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.list-control a {
  text-decoration: none;
  color: gray;
}
.nav-two .thrid-link {
  color: rgba(70, 88, 172, 1);
  border-bottom-style: solid;
  padding-bottom: 8px;
  border-bottom-color: rgba(70, 88, 172, 1);
}
