* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    font-family: inter;
  }
  
  .login-wrapper {
    width: 520px;
    max-width: 100%;
  }
  
  
    
  .logo {
    display: flex;
   flex-direction: column;
   align-items: center;
  
  
  }
  .logo img {
    width: 200px;
    height: 45px;
  }
  .logo h2 {
    font-weight: medium;
    font-size: 20px;
  }
  input {
  width: 100%;
    height: 49px;
    margin-top: 12px;
    margin-bottom: 8px;
    border-radius: 12px;
    border: 1px solid #5C73DB;
  }
  
  
  .create p {
    margin-top: 12px;
    text-align: center;
  
  }
  .sign-in {
    margin-top: 16px;
  }
  
  
  .sign-in button {
    width: 100%;
    height: 48px;
    background-color: #4763E4;
    color: white;
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  
  
  .create a {
    text-decoration: none;
    color:  #5C73DB;
  }
  
  
  @media only screen  and (max-width:768px){
    body {
      padding: 0 16px;
    }
    
  }