* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.body {
  font-family: 'Inter', sans-serif;
}

.wrapperReset {
  display: flex;

  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* height: 200px;
    justify-content: center; */

  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  /* justify-content: center;
    align-items: center; */
  /* width: 520px;
    height: 251.76px;
    margin-top: 386.12px;
    margin-left: 460px;
    gap: 40px;
    opacity: 0px; */
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.resetpassword img {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resetLabel {
  font-size: 16px;
  line-height: 19.36px;
}
.resetMain input {
  border-color: rgba(92, 115, 219, 1);
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;
  padding: 16px;
  width: 520px;
  max-width: 100%;
  margin-top: 12px;
}
.resetbutton {
  border: none;
  background-color: rgba(92, 115, 219, 1);
  width: 520px;
  max-width: 100%;
  height: 48px;
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 21.78px;
}
.resetMain a {
  text-decoration: none;
  color: rgba(92, 115, 219, 1);
  font-size: 16px;
  line-height: 19.36px;
  text-align: center;
  /* padding-left: 157px; */
  padding-top: 16px;
}
.passwordreset_pagetwo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* height: 78px;
  
    padding-left: 348px;
    padding-top: 473px;
    padding-right: 348px;
    padding-bottom: 473px;
    font-size: 28px; */
}
.resetpass_pagetwo {
  padding-left: 4px;
  border-left: solid #16a34a 3px;
  width: 744px;
  max-width: 100%;
}
.wrapperRestPagethree img {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapperRest_pagethree {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.wrapperRestPagethree header {
}
.wrapperRestPagethree img {
}
.wrapperRest_pagethree p {
  padding-bottom: 40px;
  font-size: 20px;
}
.mainRestpageThree label {
  font-size: 16px;
}
.mainRestpageThree input {
  width: 520px;
  max-width: 100%;
  padding: 16px;
  margin-top: 16px;
  border-radius: 12px;
  border-color: #f5f5f5;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 16px;
}
.resetbuttonpagethree {
  width: 520px;
  background-color: rgba(71, 99, 228, 1);
  padding: 16px;
  border-width: 1px;
  margin-bottom: 16px;
  border-radius: 12px;
  border-style: none;
  font-size: 18px;
}
.mainRestpageThree p {
  font-size: 16px;
  text-decoration: none;
  color: rgba(92, 115, 219, 1);
  text-align: center;
}
.mainRestpageThree a {
  font-size: 16px;
  text-decoration: none;
  color: rgba(92, 115, 219, 1);
  text-align: center;
}
@media only screen and (max-width: 520px) {
  .wrapperReset {
    padding: 0px 16px;
  }
}
