* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ody {
  font-family: 'Inter', sans-serif;
}
.overall_base {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

aside {
  background-color: #0e1b6b;
  color: white;
}
aside img {
  width: 80%;
  padding: 24px;
}

.items {
  margin: 12px;
}
.overall {
  display: flex;
  gap: 12px;
}

.overall_icon {
  display: flex;
  gap: 5px;
}

.overall_items {
  padding-left: 32px;
}
.overall_items a {
  text-decoration: none;
  color: white;
}
.overall_items ul {
  list-style: none;
}
.overall_items li {
  padding: 5px;
}
.Control_link {
  background-color: #4256d0;
  border-radius: 8px;
}

.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  color: gray;
}
.folder_icon {
  display: flex;
  gap: 5px;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  color: gray;
}
.project_icon {
  display: flex;
  gap: 5px;
}
.technical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  color: gray;
  font-size: 12px;
}
.technical_icon {
  display: flex;
  gap: 5px;
}
.protection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  color: gray;
}
.protection_icon {
  display: flex;
  gap: 5px;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 30vh;
}

.profile img {
  width: 85px;
  height: 85px;
}
.name {
  padding-right: 8px;
  font-size: 12px;
}
.control_form {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.control_form h1 {
  font-size: 20px;
}
.control_head {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.control input {
  width: 516px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid rgb(146, 146, 255);
  padding: 12px;
  max-width: 100%;
  height: 49px;
}
.control_head select {
  width: 516px;
  height: 49px;
  border: 1px solid rgb(146, 146, 255);
  border-radius: 10px;
  margin-top: 8px;
  max-width: 100%;
  padding-left: 10px;
}
.flexcontrol select {
  width: 516px;
  height: 49px;
  border: 1px solid rgb(146, 146, 255);
  border-radius: 10px;
  margin-top: 8px;
  max-width: 100%;
}
.flexcontrol input {
  width: 516px;
  margin-top: 5px;
  height: 49px;
  border-radius: 10px;
  border: 1px solid rgb(146, 146, 255);
  padding: 12px;
  max-width: 100%;
}
.controlbutton {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.controlbutton button {
  background-color: #4763e4;
  border: none;
  width: 150px;
  max-width: 100%;
  border-radius: 10px;
  color: #ffff;
}
.controlbutton .second {
  background-color: #f7efef;
  border: none;
  width: 150px;
  max-width: 100%;
  border-radius: 10px;
  height: 40px;
  color: rgb(22, 20, 20);
}
